<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <!--<appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>-->
    <System.Windows.Forms.ApplicationConfigurationSection>
      <!--<add key="DpiAwareness" value="PerMonitorV2"/> # 동적 DPI 리사이징(PerMonitorV2) 활성화하고싶으면 이 주석 풀기 (근데 불안정함)-->
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
